.DeleteConfirmationModal {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    pointer-events: none;

    &-container {
        flex-basis: 500px;
        pointer-events: auto;
    }

    &-header {
        display: flex;
        position: relative;
    }

    &-content {
        margin: 0 0 20px;
        min-height: 60px;
    }

    &-x-icon {
        fill: #4a4a4a;
        height: 14px;
        vertical-align: bottom;
        width: 14px;
    }

    &-heading {
        flex: 1;
        font-size: 18px;
        font-weight: 500;
        margin: 0 10px 0 20px;
    }

    &-button-wrapper {
        font-size: 13px;
        text-align: right;
    }

    &-close {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;
    }

    &-button {
        margin-left: 20px;
    }

    // @include h-lte(465px) {
    //
    //     &-container {
    //         height: 100%;
    //         overflow: auto;
    //     }
    // }

    .LoadingButton {
        color: #d54236;
        margin-left: 20px;

        &:hover {
            background: #d54236;
            border-color: #d54236;
            color: #fff;
        }
    }
}
